
html,body{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: rgb(250, 250, 250);
    font-size: 125%;
    margin: 0;
    font-family: ui-monospace, monospace;
    min-height:100vh; 
}

body{
    display: flex;
}


section{
    padding-bottom: 5px;
}

a{
    color: rgb(35, 35, 35);
    text-decoration: none;
}
a:hover{
    color: dodgerblue;
}

.main{
    padding: 10%;
    padding-top: 5%;
    height: 120vh;
    width: 80vw
}

.separador{
    border-bottom: dashed rgb(230, 230, 230);
}
.espaco_vazio{
    height: 10vmax;
}
.espaco_vazio2{
    height: 5vmax;
}



/* estilo texto */
.empty{
    color: transparent;
    -webkit-text-stroke: 1px rgb(86, 86, 86);
}
.meiolight{
    color: rgb(75, 75, 75);
}
.light{
    color: rgb(155, 155, 155)
}
.nome{
    font-weight: bold;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}



.background {
    background-color: rgb(250, 250, 250);
    background-image: radial-gradient(#e6e6e6 1px, transparent 1px);
    background-size: 22px 22px;
}






.video {
    border-radius: 7px;

    overflow: hidden;
}
video {
    width: 35vmax;
    height: 20vmax;
    object-fit: cover;
    display: block;
    object-position: left;
}



.proj{
    background-color: rgb(235, 235, 235);
    border-radius: 15px;
    width: 38vw;
    margin-left: auto;
    margin-right: auto;

    padding: 1.5vw;
    box-sizing: border-box;
}


.projNome {
    display: flex;
    justify-content: space-between;
    width: 8vmax;
    text-decoration: none;
}
.projDesc {
    display: flex;
    justify-content: space-between;
    width: 35vmax;
    text-decoration: none;
}

.projNLCont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 0; /* no gap between items */
    width: 100%;
}


.projCont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
}

.titCont{
    padding: 1.5vw;
}


@media (max-width: 658px) {
    html body{
        font-size: 75%;
    }

    .projCont{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        gap: 1rem;
    }

    .proj{
        width: 80vw;
        padding: 3vw;
    }
}
